@model string
<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>List</title>
</head>
<body>
    <h1>Todos for today:</h1>
    <ul>
        <li>Task</li>
        <li>Another task</li>
        <li>More task</li>
        <li>And once more something</li>
    </ul>
</body>
</html> 