@model List<TodoApp.Models.Todo>
<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>List</title>
</head>
<body>
    <h1>Todos for today:</h1>
    <ol>
        @*@foreach (TodoApp.Models.Todo todo in Model)
        {
            
        }*@
        <li>First task</li>
        <li>Second task</li>
        <li>Third task</li>
        <li>Fourth task</li>
    </ol>
</body>
</html> 