@model EFCoreIntro.Models.Student
<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h1>Hellaaoouu!</h1>
    <p>Id: @Model.Id!</p>
    <p>Age: @Model.Age!</p>
    <p>Firstname: @Model.Firstname!</p>
    <p>Surname: @Model.Surname!</p>
</body>
</html> 