@model Microsoft.EntityFrameworkCore.DbSet<TodoApp.Models.Todo>
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>First todo</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p style="font-family:'Comic Sans MS'; font-weight: bold; font-size: 32px">List of todos</p>
    <table style="text-align:center; font-family:'Comic Sans MS';" bgcolor="yellow" bordercolor="black">
        <tr style="color:yellow" bgcolor="black">
            <th>Id</th>
            <th>Title</th>
            <th>Urgency</th>
            <th>Status</th>
        </tr>
        @foreach (var element in @Model)
        {
            <tr>
                <td>@element.Id</td>
                <td>@element.Title</td>
                <td>
                    @if (@element.IsUrgent)
                    {
                        @:Urgent
                    }
                    else
                    {
                        @:Not urgent
                    }
                </td>
                <td>
                    @if (@element.IsDone)
                    {
                        @:Done
                    }
                    else
                    {
                        @:Undone
                    }
                </td>
            </tr>
        }
    </table>
</body>
</html>