@model BankOfSimba.Models.BankAccount
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bank of Simba</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p>Name: @Model.Name</p>
    <p>Balance: @Model.Balance Zebra</p>
    <p>Type of animal: @Model.AnimalType</p>
</body>
</html>