@model GreetSomeone.Models.Name
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Namelist</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p><mark>Hello, @Model.Namestring!</mark></p>
</body>
</html>