@model GreetSomeone.Models.Name
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Name required</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <form method="post" action="greet">
        <div>
            Type your name here:
        </div>
        <div>
            <input type="text" />
        </div>
        <div>
            <input type="submit" value="Post" />
        </div>
    </form>
</body>
</html>