/* Minden, ami a laphoz kell általánosan*/

body {
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

/* Dobozstruktúra*/

.overall {
  width: 620px;
  height: auto;
  background-color: #127731;
  border-bottom: 18px;
  border-top: 11px;
  border-left: 100px;
  border-right: 100px;
  border-style: solid;
  border-color: #DCD6CD;
}

#content-outside {
  padding: 12px;
  background-color: #FF1200;
  margin-top: 12px;
  margin-bottom: 4px;
  height: auto;
}

#content-inside {
  background-color: #FFE42E;
  outline-color: #FFC126;
  outline-style: solid;
  height: 500px;
}

#content-outside:last-child .content:last-child {
  height: auto;
}

#content-outside:first-child .content:first-child {
  height: auto;
}

.content {
  width: 596px;
  height: auto;
}

.half-content {
  width: 286px;
  height: auto; /*random érték*/
  display: inline-block;
  margin-right: -4px;
  margin-bottom: -4px;
}

.half-content:last-child {
  position: absolute;
  left: 422px;
}

.content-small, .content-smaller {
  outline-color: black;
  outline-style: solid;
  position: absolute;
  outline-width: 2px;
}

.content-smaller {
  width: 143px;
}

.content-smaller:first-child {
  position: absolute;
}

.content-smaller:last-child {
  left: 255px;
  height: 88px;
}

.content-small {
  width: 286px;
  margin-top: 120px;
}

/* Kontentek, melyek kellemesek lesznak a szemnek*/

h3 {
  margin: 0px;
  position: relative;
  font-weight: 400;
}

label {
  margin-right: 38px;
}

label[for="male"], label[for="female"] {
  margin-right: 20px;
}

#red {
  color: red;
}

select {
  color: #757790;
}

#cv {
  text-align: top;
}

a, a:hover, a:active, a:visited {
  color: black;
}