body {
  margin: 0px;
  box-sizing: border-box;
}

.overall {
  width: 620px;
  height: 784px;
  background-color: #127731;
  border-bottom: 18px;
  border-top: 11px;
  border-left: 100px;
  border-right: 100px;
  border-style: solid;
  border-color: #DCD6CD;
}

#content-outside {
  padding: 12px;
  background-color: #FF1200;
  margin-top: 12px;
  margin-bottom: 4px;
}

#content-inside {
  background-color: #FFE42E;
  outline-color: #FFC126;
  outline-style: solid;
}

#content-outside:last-child .content:last-child {
  height: 158px;
}

#content-outside:first-child .content:first-child {
  height: 17px;
}

.content {
  width: 596px;
}

.half-content {
  width: 286px;
  height: 410px;
  display: inline-block;
  margin-right: -4px;
  margin-bottom: -4px;
}

.content-small, .content-smaller {
  outline-color: black;
  outline-style: solid;
  position: absolute;
  outline-width: 2px;
}

.content-smaller {
  width: 143px;
  top: 212px;
  height: 46px;
}

.content-smaller:first-child {
  left: 112px;
}

.content-smaller:last-child {
  left: 255px;
}

.content-small {
  left: 112px;
  top: 295px;
  width: 286px;
  height: 151px;
}