body {
  margin: 0 43px 0 43px;
  width: 340px;
}

p {
  display: inline-block;
  width: 340px;
  padding: 1em;
  margin-right: 0px;
  margin-bottom: 0px;
  margin: 0px;
  border: 2px solid black;
  border-top: 0px;
  line-height: 34px;
  text-align: left;
}

p:hover {
  background: #EA6942;
}

body p:last-of-type {
  border-bottom: 0px;
  margin-bottom: 50px;
}